
@font-face {
	font-family:'Genericons';
	src:url('fonts/genericons-regular-webfont.eot');
	src:url('fonts/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/genericons-regular-webfont.woff') format('woff'),url('fonts/genericons-regular-webfont.ttf') format('truetype'),url('fonts/genericons-regular-webfont.svg#genericonsregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'behance';
	src:url('fonts/behance.eot?61221480');
	src:url('fonts/behance.eot?61221480#iefix') format('embedded-opentype'),url('fonts/behance.woff?61221480') format('woff'),url('fonts/behance.ttf?61221480') format('truetype'),url('fonts/behance.svg?61221480#behance') format('svg');
	font-weight:normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond|EB+Garamond|Karma|Neucha|Overlock|Tangerine');

.padding-0{
    padding-right:0;
    padding-left:0;
}
.padding-1{
    padding-right:0;
    padding-left:1;
}
.padding-2{
    padding-right:1;
    padding-left:0;
}
h1{
  font-size: 75px;
  font-family: 'Tangerine', cursive;
  color:rgb(30, 6, 87);
}
h3,h2{
  font-size: 40px;
  color:rgb(98, 10, 116);
  font-family: 'Cormorant Garamond', serif;
}
h4{
  color:rgb(255, 241, 241);
  font-size: 25px;
  font-family: 'Neucha', cursive;
}
h5{
  color:rgb(17, 17, 17);
  font-size: 20px;
  font-family: 'Overlock', cursive;
}
a{
  color:grey;
  font-family: 'Cormorant Garamond', serif;

}
body,html{
  height:100%;
}
body{
  background: linear-gradient( rgba(225, 186, 236, 0.8), rgba(235, 78, 78, 0.8) ), ;

  background-position:0% 51%;
  background-size:cover;
  background-repeat:repeat
}
img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover:hover img {
  opacity: 0.7;
}
/* .modal-backdrop {
   background-color: red;
} */
.modal {
  top:10%;
  right:50px;
  outline: none;
}
.modal-header,.modal-footer {
    /* padding:9px 15px; */
    border-top: 1px;
    border-bottom:1px;
    background-color:rgb(245, 237, 237);
    background-color: rgba(229, 181, 243, 0.9);

    /* -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px; */
 }
.modal-body{
  background-color: rgb(243, 229, 229);
  background-color: rgba(250, 190, 112, 0.9);
}

