{%extends 'pics/base.html'%}

{% block content %}
{% for image in images%}

<div class="card-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
      <p> take a look </p> <br>
            <img src="{{image.image.url}}" class="img-responsive" alt="Image" height="50%" width="50%">
     
          {{image.title}} <br>
          {{image.description}} <br>
          {{image.category}}  <br>
   
    </div>
   </div>
</div>
{% empty %}
<div class="row">
  <h2 class="text-center">Nothing to  show  yet</h2>
</div>
{% endfor %}

{%endblock%}